<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNGFramework.Formy"/>
      <class name="testNGFramework.DisablingTestSript"/>
      <class name="testNGFramework.ImplicitDemo"/>
      <class name="testNGFramework.MethodDependency"/>
      <class name="testNGFramework.NavigationCommands"/>
      <class name="testNGFramework.AssertionDemo"/>
      <class name="testNGFramework.PetStore"/>
      <class name="testNGFramework.TakingScreenshots"/>
      <class name="testNGFramework.ExplicitDemo"/>
      <class name="testNGFramework.iFrames"/>
      <class name="testNGFramework.Flipkart"/>
      <class name="testNGFramework.cssSelectors"/>
      <class name="testNGFramework.AnnotationDemo"/>
      <class name="testNGFramework.Rediff"/>
      <class name="testNGFramework.GroupingConcept"/>
      <class name="testNGFramework.PageLoadTimeOutDemo"/>
      <class name="testNGFramework.YourStore"/>
      <class name="testNGFramework.VerificationCommands"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
